extends layout/default
block styles
  :stylus
    .my.input[type="checkbox"]
      width 14px
      height 14px
      background-color #DDD
      cursor pointer

      &[checked]
        background-color green

append content
  form
    #my-checkbox.my.input(type="checkbox", name="foo", value="bar", checked)
    input#checkbox(type="checkbox")

append scripts
  script(src="./checkbox.js")
