extends layout/default
block styles
  :stylus
    .my.input[type="radio"]
      width 14px
      height 14px
      background-color #DDD
      cursor pointer

      &[checked]
        background-color green

append content
  form
    .my.input(type="radio", name="foo", value="hi", checked)
    .my.input(type="radio", name="foo", value="ho")
    input(type="radio")

append scripts
  script(src="./radio.js")
