extends ./default

block styles
  :stylus
    .my.input[type="checkbox"]
      width 14px
      height 14px
      background-color #DDD
      cursor pointer

      &[checked]
        background-color green
